
body {
  background-image: url("./style/greenback.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
aside {
    width: 30%;
    padding-left: 30px;
    margin-left: 30px;
    float: right;
    font-style: italic;
    background-color: gray;
}