*{box-sizing: border-box
  margin: 0;
  padding: 0;
  font family: "Roboto", sans-serif;
  color: rgb(00, 66, 99);
  user selecct: none;}
body {
  background-color: gray;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  font-size: larger;
}
aside {
    width: 20%;
    padding-left: 30px;
    margin-left: 30px;
    float: right;
    border-radius: 10px;
    font-style: italic;
    color: rgb(11, 109, 11);
    background-image: url("./style/asetback.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: flex;
    font-size: larger;
}
html 
{
  min-widht:300px;
  color: rgb(00, 66, 99);
}
section {
  padding: 20rem;
  max-width: 900px;
  margin: auto;
}
h1 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0.5rem;
}
h2 {
  font-size: 2rem;
  text-align: left;
  padding-bottom: 1rem;
}
nav {
  background-image: url("./style/bg_navbar.jpg");
  background-size: flex;
  background-color: rgb(240, 254, 255, 0.5);
  background-blend-mode: multiply;
}
footer {
  border: 2px solid red;
  border-radius: 10px;
  text-align: center;
  background-color: darkgray;
}